.stock-detail-page {
     font-family: 'Roboto', sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.left-nav {
    display: flex;
    justify-content: space-between;
}

.logout-button {
    display: block;
    height: 40px;
    z-index: 2;
}

.logo-image {
    margin-right: 10px;
    margin-left: 20px;
}

.page-content {
    margin-left: 150px;
    width: 60%;
}

.stock-name {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}