/node_modules
/bundle.*
/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep 

/storage/*
!/storage/.keep

/app/assets/javascripts/bundle.js
/public/assets

/config/master.key




/storage/*
!/storage/.keep 
bundle.js 
bundle.js.map

/.env

