

.indiv-suggestions {
    justify-content: space-between;
}

.nav-section {
    display: flex;
    justify-content: space-between;
}

.logout-button {
    display: block;
    height: 40px;
}

.page-content {
    display: flex;
}

.watchlist-whole {
    margin-left: 150px;
    padding-left: 15px;
    padding-right: 15px;
   box-shadow: 0 0 3px #ccc;
}

