

.indiv-suggestions {
    justify-content: space-between;
}

.nav-section {
    display: flex;
    justify-content: space-between;
}

.logout-button {
    display: block;
    height: 40px;
}

.page-content-two {
    display: flex;
}

.watchlist-whole {
    margin-left: 150px;
    margin-top: 50px;
   box-shadow: 0 0 3px #ccc;
}

.userchart-two-whole {
    margin-left: 150px;
}

