

.indiv-suggestions {
    justify-content: space-between;
}

.nav-section {
    display: flex;
    justify-content: space-between;
}

.logout-button {
    display: block;
    height: 40px;
}

.page-content-two {
    display: flex;
}

.watchlist-whole {
    margin-right: 180px;
    margin-top: 50px;
   box-shadow: 0 0 3px #ccc;
}

.userchart-two-whole {
    margin-left: 150px;
}

.watchlist-whole {
    position: fixed;
    left: 80%;
}

.buyingpower-portfolio {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding-top: 35px;
    padding-bottom: 35px;
    border-bottom: 2px solid #E3E9ED;
    border-top: 2px solid #E3E9ED;
    font-weight: bold;
     font-family: 'Roboto', sans-serif;
}
