.user-portion-chart-two {
    width: 100%;
    margin-top: 50px;
}

.stock-name-for-chart-two {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0px;
    margin-bottom: 2px;
    margin-top: 5px;
}

.chart-two {
    border-width: 2px;
    border-style: solid;
    border-top: #E3E9ED;
    border-left:#E3E9ED;
    border-right: #E3E9ED;
    border-color: #E3E9ED;
}

.percent-change-two {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 35px;

}