.buyorsellstock {
    display: flex;
    justify-content: space-around;
    padding-top: 12px;
    /* padding-bottom: 12px; */
}

.buy-stock-title{
    
    padding-bottom: 12px;
    
}

.buysell-sub-form{
    margin-top: 15px;
}

.the-whole-form-minus-listwatch{
    box-shadow: 0 0 20px rgb(221, 206, 206);
}

.shares-and-input-text {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    justify-content: space-between;
}

.marketprice-and-number {
    display: flex;
     padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    padding-bottom: 25px;
}

.input-for-buy-sell-stocks {
    width: 60px;
    margin-left: 50px;
    text-align: right;
}

.buywatch-button{
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 25px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    border: none;
    border-radius: 8px;
     font-family: 'Roboto', sans-serif;
}

.buywatch-button:hover {
    cursor: pointer;
    background-color: #686868;
}

.buyingpower-shares{
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-top: 1px solid #e3e9ed;
}

.buysellwatch-form{
    position: fixed;
    left: 65%;
}

.positive-buy-title {
    color: #3BD53F;
    border-bottom: 2px solid #3BD53F;
}

.positive-buy-title:hover {
    cursor: pointer;
}

.negative-buy-title {
    color: #FF6017;
    border-bottom: 2px solid #FF6017;
}

.negative-buy-title:hover {
    cursor: pointer;
}

.positive-buy-title-two {
    color: black;
    border-bottom: none;
}

.positive-buy-title-two:hover {
    cursor: pointer;
}

.negative-buy-title-two {
    color: black;
    border-bottom: none;
}

.negative-buy-title-two:hover {
    cursor: pointer;
}

.default-sell-class {
    color: black;
    border-bottom: none;
}

.default-sell-class:hover {
    cursor: pointer;
}

.negative-sell-class {
    color: #FF6017;
    border-bottom: 2px solid #FF6017;
}

.negative-sell-class:hover {
    cursor: pointer;
}

.positive-sell-class {
     color: #3BD53F;
    border-bottom: 2px solid #3BD53F;
}

.positive-sell-class:hover {
    cursor: pointer;
}

.watchlist-add-remove-button {
    margin: 0 auto;
    display: block;
    margin-top: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 55px;
    padding-right: 55px;
    background-color:transparent;
     border-radius: 8px;
     border: 1px solid;
      font-family: 'Roboto', sans-serif;
}

.watchlist-add-remove-button:hover {
    cursor: pointer;
}

.errors-buysell {
    list-style: none;
}

