.right-nav {
    display: flex;
    margin-right: 30px;
}
.linkedin-img-container {
    margin: auto;
}

.linkedin-image {
    object-fit: cover;
    height: 35px;
     margin-left: 15px;

}

.github-img-container {
    margin: auto;
   
}

.github-image {
    object-fit: cover;
    height: 35px;

}

.drop-log-out {
    margin: auto;
    margin-left: 30px;
}
.account-dd-button {
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    position: relative;
     font-family: 'Roboto', sans-serif;
}

.account-dd-button:hover {
    color: #00C805;

}

.logout-button-for-nav {
    background-color: white;
    border: none;
    z-index: 1;
    cursor: pointer;
    display: flex;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 30px;
    border-top: 1px solid #E3E9ED;
    
}

.logout-button-for-nav:hover {
    background-color: rgb(246, 249, 250);
}

.logout-img-for-dropdown{
    object-fit: cover;
    height: 15px;
    padding-right: 10px;
}

.dropdown-for-acc {
    position: absolute;
    right: 30px;
    top: 55px;
     box-shadow: 0 0 20px rgb(221, 206, 206);
     z-index: 1;
     background-color: white;
     
}

.text-for-dropdown-logout {
    overflow: hidden; 
    white-space: nowrap;
     font-family: 'Roboto', sans-serif;
}

.accbal-for-dropdown {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 15px;
    padding-right: 15px;
     font-family: 'Roboto', sans-serif;
}

.dropdown-username {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
     font-family: 'Roboto', sans-serif;
}

.profile-image {
     object-fit: cover;
    height: 35px;
    margin-left: 15px;
}

.angellist-image {
    object-fit: cover;
    height: 35px;
     margin-left: 15px;
}

.personal-container-dropdown {
    margin-right: 20px;
}

.linkedin-container-dropdown {
    margin-right: 20px;
}

.github-container-dropdown {
    margin-right: 20px;
}

.angellist-container-dropdown {
    margin-right: 20px;
   
}

.profile-image-container {
    text-decoration: none;
    color: black;
}

.linkedin-img-container {
    text-decoration: none;
    color: black;
}

.github-img-container {
    text-decoration: none;
    color: black;
}

.angellist-img-container {
     text-decoration: none;
    color: black;
}
