.search-bar {
    background-color: white;
    height: 30px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    border: none;
}

.search-bar:focus {
    outline: none;
}

.search-section {
    margin-top: 2px;
    position: absolute;
    z-index: 1;
    margin-left: 70px;
    width: 475px;
     font-family: 'Roboto', sans-serif;
}

.suggestions {
    width: inherit;
    /* border-width: 2px;
    border-style: solid;
    border: transparent; */
    /* box-shadow: 0 1px 6px gray; */
    background-color: white;
    font-size: 15px;
    box-shadow: 0 0 20px rgb(221, 206, 206);
}

.suggestions > div:hover{
    background-color: rgb(231, 242, 246);
    cursor: pointer;
}

.indiv-suggestions {
    width: inherit;
}

.link {
    text-decoration: none;
    color: black;
    display:block;
    width: inherit;
    display: flex;
}

.mangnifying-img {
    object-fit: cover;
    height: 15px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 9px;
}

.magnifying-plus-search {
    display: flex;
    box-shadow: 0 0 20px rgb(221, 206, 206);
}

.search-stock-sym {
    width: 20%;
    padding-left: 25px;
}

.search-stock-company-name {
    width: 70%;
}
